@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1676876184341') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e6a6"; 
}

.icon-lajixiang:before {
  content: "\e626";
}

.icon-xuanzhuan:before {
  content: "\e609";
}

.icon-xuanzhuan1:before {
  content: "\e6ef";
}

.icon-zoomout:before {
  content: "\e897"; 
}

.icon-zoomin:before {
  content: "\e898";
}

.icon-nishizhenxuanzhuan:before {
  content: "\e65a";
}

.icon-shunshizhenxuanzhuan:before {
  content: "\e65c";
}

.icon-quchushuiyin:before {
  content: "\e688";
}

.icon-export:before {
  content: "\e66e";
}

.icon-shuiyin:before {
  content: "\e7f3";
}

.icon-color-picker:before {
  content: "\e649";
}

.icon-qushuiyin:before {
  content: "\e627";
}

.icon-W-39:before {
  content: "\e60b";
}

